apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ k8s_name }}
  namespace: {{ k8s_namespace }}
  labels:
    app: {{ k8s_name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ k8s_name }}
  template:
    metadata:
      labels:
        app: {{ k8s_name }}
      annotations:
        checksum/secret: {{ secret_checksum }}  
    spec:
      enableServiceLinks: false
      containers:
        - name: {{ k8s_name }}
          image: authelia/authelia:4.30.4
          volumeMounts:
            - name: config
              mountPath: /config
              readOnly: false
          ports:
            - containerPort: 9091
              name: http
      volumes:
        - name: config
          secret:
            secretName: {{ k8s_name }}
